<nav class="navbar navbar-light">
  <a class="navbar-brand" href="/articles" >WikiWakaWaka</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary my-2 my-sm-0" href="/articles/new">New Article</a>
  </form>
</nav>
